@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.cart {
	height: auto;
	padding: clamp(0.3125rem, 0.2125rem + 0.5vw, 0.8125rem) 0;
	font-weight: 500;
	text-transform: uppercase;
	font-size: clamp(1rem, 0.875rem + 0.625vw, 1.625rem);
	color: var.$generalColorText;
	background: var.$accentColor;
	transition: all .5s;

	@media (any-hover: hover) {
		&:hover {
			cursor: pointer;
			background: #7c0c0a;
		}
	}

	&__current {
		padding: 0 clamp(0.625rem, 0.3125rem + 1.5625vw, 2.1875rem);
		border-right: solid 2px #fff;
	}

	&__btn {
		padding: 0 clamp(0.625rem, 0.3125rem + 1.5625vw, 2.1875rem);
		font-weight: 500;
		text-transform: uppercase;
		color: var.$generalColorText;

	}
}