@use '../base/variable' as var;
@use '../base/mixin' as mix;

.button {
	@include mix.displayFlex(flex, center, center);
	box-sizing: border-box;
	width: 100%;
	padding: 12px;
	@include mix.adaptivFont(var.$generalTextSize, var.$generalTextSizeMin);
	color: var.$lightColor;
	line-height: var.$generalLineHeight;
	font-weight: 400;
	background: var.$accentColor;
	transition: background .6s;

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			background: green;
		}
	}
}