@use '../base/variable' as var;
@use '../base/mixin' as mix;

.logo {
	@media screen and (min-width:639px) {
		position: fixed;
	}

	@media screen and (max-width:639px) {
		position: absolute;
	}

	z-index: 5;
	top: 15px;
	left: 50%;
	@include mix.displayFlex(flex, center, center);
	width: clamp(5.5rem, 4.2083rem + 6.4583vw, 9.375rem);
	transform: translate(-50%, -6%);

	transition: transform .8s ease;

	&._hidden {
		transform: translate(-50%, -160%);
	}
}