@use '../base/variable' as var;
@use '../base/mixin' as mix;

.logo {
	position: absolute;
	z-index: 5;
	top: 50%;
	left: 50%;
	@include mix.displayFlex(flex, center, center);
	width: clamp(5.5rem, 4.2083rem + 6.4583vw, 9.375rem);
	transform: translate(-50%, -50%);

	/// transition: transform .8s ease;

	/// &._hidden {
	///	transform: translate(-50%, -160%);
	/// }
}

@media screen and (max-width:839px) {
	.navigation__wrapper .logo {
		display: none;
	}
}