@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.social {
	&__list {
		@include mix.displayFlex(flex, space-between, center);
		gap: 10px;
	}

	&__link {
		display: block;
		box-sizing: border-box;
		width: clamp(1.875rem, 1.375rem + 2.5vw, 4.375rem);
		height: clamp(1.875rem, 1.375rem + 2.5vw, 4.375rem);
		padding: clamp(0.4375rem, 0.325rem + 0.5625vw, 1rem);
		transition: opacity .5s;
		transition: background .5s;

		@media (any-hover: hover) {
			&:hover {
				background: var.$accentColor;
			}
		}
	}
}

.navigation__social {
	.social__link {
		background: var.$accentColor;
		transition: background .5s;

		@media (any-hover: hover) {
			&:hover {
				background: none;
			}
		}
	}
}