@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.social {
	&__list {
		@include mix.displayFlex(flex, space-between, center);
		gap: 10px;
	}

	&__link {
		display: block;
		box-sizing: border-box;
		width: clamp(1.875rem, 1.625rem + 1.25vw, 3.125rem);
		height: clamp(1.875rem, 1.625rem + 1.25vw, 3.125rem);
		padding: clamp(0.4375rem, 0.4125rem + 0.125vw, 0.5625rem);
		transition: opacity .5s;
		background: var.$mainBg;
		transition: background .5s;

		@media (any-hover: hover) {
			&:hover {
				background: var.$accentColor;
			}
		}
	}
}

.footer {
	.social {
		width: 100%;

		&__list {
			width: 100%;
		}

		&__link {
			width: clamp(3.125rem, 2.875rem + 1.25vw, 4.375rem);
			height: clamp(3.125rem, 2.875rem + 1.25vw, 4.375rem);
			padding: 10px;
		}
	}
}

.navigation__social {
	.social__link {
		background: var.$accentColor;
		transition: background .5s;

		@media (any-hover: hover) {
			&:hover {
				background: #7c0c0a;
			}
		}
	}
}