@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.social {
	&__list {
		@include mix.displayFlex(flex, space-between, center);
		gap: 10px;
	}

	&__link {
		display: block;
		box-sizing: border-box;
		width: 70px;
		height: 70px;
		padding: 16px;
		transition: opacity .5s;
		transition: background .5s;

		@media (any-hover: hover) {
			&:hover {
				background: var.$accentColor;
			}
		}
	}
}

.navigation__social {
	.social__link {
		background: var.$accentColor;
		transition: background .5s;

		@media (any-hover: hover) {
			&:hover {
				background: none;
			}
		}
	}
}