@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/logo';

.footer {
	padding: clamp(3.125rem, 2.0833rem + 5.2083vw, 6.25rem) 0 50px 0;
	text-align: center;
	background: #2d2d2d;

	& .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: clamp(0.625rem, 0.3125rem + 1.5625vw, 1.5625rem);
		width: 100%;
		max-width: 850px;
	}

	&__description {
		line-height: 1.7em;
		font-size: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
	}

	&__phone {
		line-height: 1.7em;
		font-size: clamp(1.5rem, 1.325rem + 0.875vw, 2.375rem);

		@media (any-hover: hover) {
			&:hover {
				a {
					text-decoration: underline;
				}
			}
		}
	}
}

.delaemkrasivo {
	margin: clamp(1.875rem, 1.4583rem + 2.0833vw, 3.125rem) 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	.powered {
		display: flex;
		justify-content: flex-start;
		width: 490px;

		@media screen and (min-width:321px) and (max-width:639px) {
			width: 260px;
		}

		@media screen and (max-width:320px) {
			width: 260px;
		}

		p {
			font-family: "Poiret One", sans-serif;
			font-weight: 400;
			font-style: normal;
			font-size: 12px;
			letter-spacing: 0.20em;
			margin-bottom: 3px;
		}
	}

	a {
		font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
		letter-spacing: 1em;
		color: #fff;
		font-family: "Poiret One", sans-serif;
		font-weight: 400;
		font-style: normal;

		@media screen and (min-width:321px) and (max-width:639px) {
			font-size: 16px;
			letter-spacing: 0.5em;
		}

		@media screen and (max-width:320px) {
			font-size: 16px;
			letter-spacing: 0.5em;
		}

		span {
			display: inline-flex;
			animation-name: bounce;
			animation-timing-function: linear;
			animation-duration: 2s;
			animation-iteration-count: infinite;

			@keyframes bounce {
				0% {
					transform: translateY(0);
				}

				50% {
					transform: translateY(-10px);
				}

				100% {
					transform: translateY(0);
				}
			}
		}
	}
}