@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

$sizeAfterEl: 1.1em;

.header {
	position: fixed;
	transition: transform .8s ease;

	&._hidden {
		transform: translateY(-98%);
	}

	@media screen and (min-width:639px) {
		top: 0;
	}

	@media screen and (max-width:639px) {
		bottom: 0;
	}

	left: 0;
	width: 100%;
	z-index: 5;
	width: 100%;
}

.navigation {
	box-sizing: border-box;
	padding: 10px 0;
	color: var.$lightColor;
	background: var.$mainBg;

	&__wrapper {
		position: relative;
		@include mix.displayFlex(flex, space-between, center);
	}
}