<footer class="footer">
	<div class="container">
		<div class="footer__social social">
			<ul class="social__list">
				<li>
					<a href="#" target="_blank" title="Telegram" class="social__link">
						<img src="../../assets/images/icon/tg.svg" alt="Telegram">
					</a>
				</li>
				<li>
					<a href="#" target="_blank" title="WhatsApp" class="social__link">
						<img src="../../assets/images/icon/wa.svg" alt="WhatsApp">
					</a>
				</li>
				<li>
					<a href=" #" target="_blank" title="Instagram" class="social__link">
						<img src="../../assets/images/icon/inst.svg" alt="Instagram">
					</a>
				</li>
			</ul>
		</div>
		<div class="footer__phone">
			<a href="tel:+79112600880">+7 (911) 260 - 08 - 80</a>
		</div>
		<div class="footer__description">
			<p>Если вы не попадаете в зону доставки Яндекса или Delivery, то воспользуйтесь службой доставки DOM, заказав по
				телефону или с помощью мессенджеров</p>
		</div>
		<h2 class="footer__title subtitle"><span class="accent">#</span>DOM<span class="accent">&</span>Volchek<span
				class="accent">4</span>You</h2>
		<a href="./privacy.html" target="_blank">политика конфиденциальности</a>
		<div class="footer__autor">
			<div class="delaemkrasivo">
				<div class="powered">
					<p>powered by</p>
				</div>
				<a href="https://delaemkrasivo.com/" target="_blank">delaemkrasivo<span>.</span>com</a>
			</div>
		</div>
	</div>
</footer>