<footer class="footer">
	<div class="container">
		<div class="footer__contacts">
			<div class="footer__inst-btns">
				<a href="https://www.instagram.com/domeventspb/" target="_blank" class="footer__btn-inst-link">
					<span>Банкетно-ресторанный комплекс DOM</span>
					<span class="footer__inst-btn-solid"></span>
					<span class="footer__inst-btn-login">@domeventspb</span>
				</a>
				<a href="https://www.instagram.com/chef_artem_volchek/" target="_blank" class="footer__btn-inst-link">
					<span>Шеф-повар Артем Волчек</span>
					<span class="footer__inst-btn-solid"></span>
					<span class="footer__inst-btn-login">@chef_artem_volchek</span>
				</a>
			</div>
			<div class="footer__social social">
				<ul class="social__list">
					<li>
						<a href="https://t.me/+79112900110" target="_blank" title="Telegram" class="social__link">
							<img src="../../assets/images/icon/tg.svg" alt="Telegram">
						</a>
					</li>
					<li>
						<a href="https://wa.me/79112900110?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%A5%D0%BE%D1%87%D1%83%20%D0%BE%D1%84%D0%BE%D1%80%D0%BC%D0%B8%D1%82%D1%8C%20%D0%B4%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%BA%D1%83"
							target="_blank" title="WhatsApp" class="social__link">
							<img src="../../assets/images/icon/wa.svg" alt="WhatsApp">
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/dostavkadomspb/" target="_blank" title="Instagram" class="social__link">
							<img src="../../assets/images/icon/inst.svg" alt="Instagram">
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__phone">
			<a href="tel:+79112600880">+7 (911) 260 - 08 - 80</a>
		</div>
		<h2 class="footer__title subtitle">@DOSTAVKADOMSPB</h2>
		<div class="footer__btns">
			<a class="footer__btn-link" href="./privacy.html" target="_blank">политика конфиденциальности</a>
			<a href="#" class="footer__btn-link" target="_blank">скачать меню pdf</a>
		</div>
		<div class="footer__autor">
			<div class="delaemkrasivo">
				<div class="powered">
					<p>powered by</p>
				</div>
				<a href="https://delaemkrasivo.com/" target="_blank">delaemkrasivo<span>.</span>com</a>
			</div>
		</div>
	</div>
</footer>