@use '../base/variable' as var;
@use '../base/mixin' as mix;

.delivery {
	margin: clamp(1.875rem, 1.625rem + 1.25vw, 3.125rem) 0;
	padding-bottom: 10px;
	text-transform: uppercase;
	text-align: center;

	&__description {
		margin-bottom: clamp(0.9375rem, 0.625rem + 1.5625vw, 1.875rem);
	}

	&__title {
		margin-bottom: clamp(0.9375rem, 0.625rem + 1.5625vw, 1.875rem);
	}

	&__button-wrapper {
		max-width: 300px;
		margin: 0 auto;
	}
}