@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../modules/button-dawn';

.hero {
	position: relative;
	height: 100%;
	min-height: 100vh;
	text-align: center;
	text-transform: uppercase;

	& .container {
		height: 100vh;
		display: grid;
		place-content: center;
		align-items: center;
	}

	&__title {
		margin-bottom: 20px;
	}

	&__solid {
		display: block;
		width: 100%;
		height: 1px;
		margin: clamp(0.3125rem, 0rem + 1.5625vw, 1.25rem) 0;
		background: var.$accentColor;
	}

	&__description {
		margin-bottom: 40px;
		font-size: clamp(0.875rem, 0.6667rem + 1.0417vw, 1.5rem);
	}

	&__buttons {
		@include mix.displayFlex(flex, center, center);
		gap: 25px;
	}

	&__btn-link {
		width: 100%;
		max-width: 260px;

		&>span {
			position: relative;
			padding-right: 30px;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				width: 23px;
				height: 23px;
			}
		}

		&:nth-child(1) {
			&>span {
				&:after {
					background: url('../../assets/images/icon/download.svg') center center / cover no-repeat;
				}
			}
		}

		&:nth-child(2) {
			&>span {
				&:after {
					background: url('../../assets/images/icon/map-tag.svg') center center / cover no-repeat;
				}
			}
		}
	}
}