@use '../base/variable' as var;
@use '../base/mixin' as mix;

.menu {
	padding-bottom: 50px;
	position: relative;

	& .container {
		width: clamp(25.5rem, 10.6rem + 74.5vw, 100rem);
		padding: 0;
	}

}

.category {
	padding-top: 20px;

	&__title {
		margin: 60px 0 30px 0;
		line-height: 1.3em;
		text-transform: uppercase;
		color: #fff;
		font-size: clamp(0.875rem, 0.45rem + 2.125vw, 3rem);
	}

	&__cards {
		display: grid;
		justify-content: center;
		align-items: start;
		grid-template-columns: repeat(4, clamp(5.4rem, 1.6800rem + 18.6000vw, 24rem));
		grid-column-gap: 20px;
		grid-gap: 35px 25px;
	}
}

.card {
	display: flex;
	flex-direction: column;
	height: 100%;

	@media (hover: hover) {
		&:hover {
			.card__image {

				&:after,
				&:before {
					display: block;
				}

				&:before {
					animation: show .3s forwards;
				}
			}
		}
	}

	&__image {
		position: relative;
		z-index: 1;
		overflow: hidden;
		width: clamp(5.4rem, 1.6800rem + 18.6000vw, 24rem);
		height: clamp(5.4rem, 1.6800rem + 18.6000vw, 24rem);
		border-radius: 10px;

		&>a {
			position: relative;
		}

		&>a>img {
			transition: transform .5s;
		}

		&:after,
		&:before {
			pointer-events: none;
			content: '';
			position: absolute;
		}

		&:before {
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: tramsform .3s;
		}

		&:after {
			z-index: 3;
			width: clamp(1.25rem, 0.75rem + 2.5vw, 3.75rem);
			height: clamp(1.25rem, 0.75rem + 2.5vw, 3.75rem);
			background: var.$accentColor url('../../assets/images/icon/eye.svg') center center /50% no-repeat;
		}

		@media (hover: hover) {

			&:hover {
				cursor: pointer;

				&>a>img {
					transform: scale(1.1);
				}
			}

			&:after,
			&:before {
				display: none;
			}

			&:before {
				background: rgba(0, 0, 0, .6);
			}

			&:after {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 10px;
			}
		}

		@media screen and (min-width: 639.98px) and (hover: none) {
			&:before {
				background: none;
			}

			&:after {
				display: block;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 10px;
				box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, .5);
			}
		}

		@media screen and (max-width: 639.98px) and (hover: none) {
			&:after {
				display: block;
				bottom: 5%;
				left: 50%;
				transform: translate(-50%);
				border-radius: 5px;
			}
		}

		@keyframes show {
			0% {
				transform: scale(0);
				border-radius: 10px;
			}

			98% {
				transform: scale(1);
				border-radius: 10px;
			}

			100% {
				border-radius: 0;
			}
		}
	}

	&__nameplate {
		position: absolute;
		display: grid;
		align-items: center;
		place-content: center;
		grid-gap: clamp(0.1875rem, 0.1625rem + 0.125vw, 0.3125rem);
		z-index: 3;
		top: 10px;
		right: 10px;
		width: clamp(1.875rem, 1.5rem + 1.875vw, 3.75rem);
		height: clamp(1.875rem, 1.5rem + 1.875vw, 3.75rem);
		border-radius: 50%;
		text-align: center;
		line-height: 1em;
		font-size: clamp(0.5rem, 0.45rem + 0.25vw, 0.75rem);
		color: #fff;
		background: var.$accentColor;
	}

	&__nameplate-img {
		display: grid;
		align-items: center;
		place-content: center;
		width: 18px;
		height: 18px;
	}

	&__button-add {
		position: relative;
		z-index: 2;
		display: grid;
		place-content: center;
		align-items: center;
		top: -30px;
		width: 60px;
		height: 60px;
		margin: 0 auto;
		padding: 6px;
		border-radius: 10px;
		background: var.$accentColor;
		transition: background .5s;

		&>img {
			pointer-events: none;
			width: 30px;
			height: 30px;
		}

		&:active {
			background: green;
		}

		@media (any-hover: hover) {
			&:hover {
				background: green;
			}
		}
	}

	&__description {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__name {
		margin: 0 0 20px 0;
		text-align: center;
		line-height: 1.3em;
		font-weight: 400;
		font-size: clamp(0.875rem, 0.75rem + 0.625vw, 1.5rem);
	}

	&__characteristics {
		@include mix.displayFlex(flex, space-between, center);
	}

	&__weight {
		flex: 0 1 50%;
		text-align: center;
		color: var.$accentColorTwo;
		font-size: clamp(0.875rem, 0.75rem + 0.625vw, 1.5rem);
	}

	&__solid {
		display: block;
		height: clamp(1.125rem, 0.4583rem + 3.3333vw, 3.125rem);
		width: 1px;
		background: var.$accentColorTwo;
	}

	&__price {
		flex: 0 1 50%;
		text-align: center;
		line-height: 1.3em;
		font-weight: 400;
		font-size: clamp(1.125rem, 0.875rem + 1.25vw, 2.375rem);
	}
}

.menu-navigation {
	position: sticky;
	z-index: 5;
	background: #191919;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 15px;
	padding: 0 15px;

	@media screen and (min-width:839px) {
		top: 0;
	}

	@media screen and (max-width:838.98px) {
		top: -4px;
		padding-bottom: 0;
	}

	&__link {
		display: block;
		padding: 15px;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 16px;
		background: #202020;

		@media screen and (max-width:838.98px) {
			padding: 12px;
			font-size: 16px;
		}

		@media screen and (max-width: 439.98px) {
			font-size: 13px;
		}

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background: #7c0c0a;
			}
		}

		&:active {
			background: #7c0c0a;
		}

		&._active {
			background: #bc120f;
		}
	}
}

.menuNav {
	width: 100%;

	& .swiper-wrapper {
		padding: clamp(0.75rem, 0.6625rem + 0.4375vw, 1.1875rem) 0;
	}

	& .swiper-slide {
		width: auto !important;
		min-height: auto;
	}
}

.swiper-button-next,
.swiper-button-prev {
	flex-shrink: 0;
	position: static;
	display: grid;
	place-content: center;
	align-items: center;
	width: clamp(1.875rem, 1.6875rem + 0.9375vw, 2.8125rem);
	height: clamp(1.875rem, 1.6875rem + 0.9375vw, 2.8125rem);
	margin: 0;
	border-radius: clamp(0.3125rem, 0.25rem + 0.3125vw, 0.625rem);
	background: var.$accentColor;
	transform: translate(0, 0);

	@media screen and (max-width: 439.98px) {
		display: none;
	}

	&:after {
		color: #fff;
		font-size: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);
	}

	&.swiper-button-disabled {
		background: #202020;
		opacity: 1;
	}
}