@use '../base/variable' as var;
@use '../base/mixin' as mix;

.menu {
	padding-bottom: 50px;

	& .container {
		padding: 0;
		width: clamp(25.5rem, 10.6rem + 74.5vw, 100rem);
	}
}

.category {
	&__title {
		margin: 30px 0 50px 0;
		line-height: 1.3em;
		text-transform: uppercase;
		color: var.$accentColorTwo;
		font-size: clamp(0.875rem, 0.45rem + 2.125vw, 3rem);
	}

	&__cards {
		display: grid;
		justify-content: center;
		align-items: start;
		grid-template-columns: repeat(4, clamp(5.4rem, 1.6800rem + 18.6000vw, 24rem));
		grid-column-gap: 20px;
		grid-row-gap: 25px;
	}
}

.card {
	display: flex;
	flex-direction: column;
	height: 100%;

	&__image {
		overflow: hidden;
		width: clamp(5.4rem, 1.6800rem + 18.6000vw, 24rem);
		height: clamp(5.4rem, 1.6800rem + 18.6000vw, 24rem);
		border-radius: 10px;

		&>a {
			position: relative;
		}

		&>a>img {
			transition: transform .5s;
		}

		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;

				&>a>img {
					transform: scale(1.1);
				}
			}
		}
	}

	&__button-add {
		position: relative;
		top: -30px;
		display: block;
		width: 60px;
		height: 60px;
		margin: 0 auto;
		padding: 6px;
		border-radius: 10px;
		background: var.$accentColor;
		transition: background .5s;

		&._active {
			background: green;
		}

		@media (any-hover: hover) {
			&:hover {
				background: green;
			}
		}
	}

	&__description {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__name {
		margin: 0 0 20px 0;
		text-align: center;
		line-height: 1.3em;
		font-weight: 400;
		font-size: clamp(0.875rem, 0.75rem + 0.625vw, 1.5rem);
	}

	&__characteristics {
		@include mix.displayFlex(flex, space-around, center);
	}

	&__weight {
		color: var.$accentColorTwo;
		font-size: clamp(0.875rem, 0.75rem + 0.625vw, 1.5rem);
	}

	&__solid {
		display: block;
		height: clamp(1.125rem, 0.4583rem + 3.3333vw, 3.125rem);
		width: 1px;
		background: var.$accentColorTwo;
	}

	&__price {
		line-height: 1.3em;
		font-weight: 400;
		font-size: clamp(1.125rem, 0.75rem + 1.875vw, 3rem);
	}
}