@use '../base/variable' as var;
@use '../base/mixin' as mix;

.menu {
	padding-bottom: 50px;
	position: relative;

	& .container {
		width: clamp(25.5rem, 10.6rem + 74.5vw, 100rem);
		padding: 0;
	}

}

.category {
	&__title {
		margin: 30px 0 50px 0;
		line-height: 1.3em;
		text-transform: uppercase;
		color: #fff;
		font-size: clamp(0.875rem, 0.45rem + 2.125vw, 3rem);
	}

	&__cards {
		display: grid;
		justify-content: center;
		align-items: start;
		grid-template-columns: repeat(4, clamp(5.4rem, 1.6800rem + 18.6000vw, 24rem));
		grid-column-gap: 20px;
		grid-row-gap: 25px;
	}
}

.card {
	display: flex;
	flex-direction: column;
	height: 100%;

	&__image {
		position: relative;
		overflow: hidden;
		width: clamp(5.4rem, 1.6800rem + 18.6000vw, 24rem);
		height: clamp(5.4rem, 1.6800rem + 18.6000vw, 24rem);
		border-radius: 10px;

		&>a {
			position: relative;
		}

		&>a>img {
			transition: transform .5s;
		}

		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;

				&>a>img {
					transform: scale(1.1);
				}
			}
		}
	}

	&__nameplate {
		position: absolute;
		display: grid;
		align-items: center;
		place-content: center;
		grid-gap: clamp(0.1875rem, 0.1625rem + 0.125vw, 0.3125rem);
		z-index: 3;
		top: 10px;
		right: 10px;
		width: clamp(1.875rem, 1.5rem + 1.875vw, 3.75rem);
		height: clamp(1.875rem, 1.5rem + 1.875vw, 3.75rem);
		border-radius: 50%;
		text-align: center;
		line-height: 1em;
		font-size: clamp(0.5rem, 0.45rem + 0.25vw, 0.75rem);
		color: #fff;
		background: var.$accentColor;
	}

	&__nameplate-img {
		display: grid;
		align-items: center;
		place-content: center;
		width: 18px;
		height: 18px;
	}

	&__button-add {
		position: relative;
		display: grid;
		place-content: center;
		align-items: center;
		top: -30px;
		width: 60px;
		height: 60px;
		margin: 0 auto;
		padding: 6px;
		border-radius: 10px;
		background: var.$accentColor;
		transition: background .5s;

		&>img {
			pointer-events: none;
			width: 30px;
			height: 30px;
		}

		&:active {
			background: green;
		}

		@media (any-hover: hover) {
			&:hover {
				background: green;
			}
		}
	}

	&__description {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__name {
		margin: 0 0 20px 0;
		text-align: center;
		line-height: 1.3em;
		font-weight: 400;
		font-size: clamp(0.875rem, 0.75rem + 0.625vw, 1.5rem);
	}

	&__characteristics {
		@include mix.displayFlex(flex, space-around, center);
	}

	&__weight {
		color: var.$accentColorTwo;
		font-size: clamp(0.875rem, 0.75rem + 0.625vw, 1.5rem);
	}

	&__solid {
		display: block;
		height: clamp(1.125rem, 0.4583rem + 3.3333vw, 3.125rem);
		width: 1px;
		background: var.$accentColorTwo;
	}

	&__price {
		line-height: 1.3em;
		font-weight: 400;
		font-size: clamp(1.125rem, 0.75rem + 1.875vw, 3rem);
	}
}

.menu-navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;


	&__body {
		overflow: hidden;
		display: flex;
		align-items: center;
		background: #191919;
	}

	&__title {
		flex: 0 0 80px;
		z-index: 2;
		display: grid;
		place-content: center;
		align-items: center;
		margin: 0;
		text-transform: lowercase;
		height: 80px;
		background: var.$accentColor;
	}

	&__list {
		overflow-x: auto;
		scrollbar-width: none;
		display: flex;
		align-items: center;
		gap: 20px;
		margin: 0 20px;
		padding-right: 30px;
	}

	&__link {
		display: block;
		padding: 15px;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 18px;
		background: #202020;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background: #7c0c0a;
			}
		}

		&:active {
			background: #7c0c0a;
		}

		&._active {
			background: #bc120f;
		}
	}
}