@use './base/variable' as var;
@use './base/mixin' as mix;
@use './base/extentsions';

@media screen and (min-width: 1600px) {}

@media screen and (min-width:1280px) and (max-width:1599px) {}

@media screen and (min-width:960px) and (max-width:1279px) {
	.order-item {
		display: grid;
		grid-template-columns: 150px repeat(2, 1fr);
		grid-template-rows: repeat(2, 70px);
		grid-gap: 10px;

		&__image {
			grid-area: 1 / 1 / 3 / 2;
		}

		&__description {
			grid-area: 1 / 2 / 2 / 4;
			padding: 0;
		}

		&__current {
			grid-area: 2 / 2 / 3 / 4;
			flex-direction: row-reverse;
			justify-content: start;
			gap: 20px;
		}

		&__current-wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
	}

	.quantity {

		&>span,
		&>button {
			width: 40px;
			height: 40px;
		}
	}
}

@media screen and (min-width:640px) and (max-width:959px) {
	.modal-order {
		&__item {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&__form {
			display: none;

			&_mobile {
				display: block;
				max-width: 500px;
				margin: 70px auto 0 auto;
			}
		}
	}

	.order-item {
		grid-template-columns: auto 1fr clamp(5.3125rem, 4.125rem + 5.9375vw, 11.25rem);
		grid-gap: 16px;

		&__image {
			width: 120px;
			height: 120px;
		}

		&__description {
			padding: 0;
		}

		&__current {
			padding: 0;
			justify-content: flex-start;
			gap: 20px;
		}

		&__close {
			width: 20px;
			height: 20px;
		}
	}

	.quantity {

		&>span,
		&>button {
			width: 40px;
			height: 40px;
		}
	}

	.menu {
		& .container {
			width: 100%;
			padding: 10px;
		}
	}

	.category {
		&__title {
			margin: 20px 0;
		}

		&__cards {
			grid-template-columns: repeat(3, 1fr);
			grid-column-gap: 24px;
		}
	}

	.card {
		&__image {
			margin: 0 auto;
		}
	}
}

@media screen and (max-width:639.98px) {
	.modal-order {
		&__item {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&__form {
			display: none;

			&_mobile {
				display: block;
				max-width: 100%;
				margin: 30px 0 0;
			}
		}
	}

	.order-item {
		&__description-wrapper {
			display: flex;
			align-items: center;
			gap: 16px;
		}

		&__price {
			display: none;

			&_mobile {
				display: block;
			}
		}

		&__close {
			display: none;

			&_mobile {
				display: block;
			}
		}

		&__current {
			justify-content: center;
		}
	}

	.add-to-order {
		&__cards {
			flex-direction: column;
		}

		&__card {
			display: grid;
			grid-template-columns: clamp(4.375rem, 2.75rem + 8.125vw, 12.5rem) 1fr auto;
			grid-template-rows: repeat(2, auto);
			place-items: start;
			align-items: center;
			grid-gap: 10px;
			max-width: 100%;
		}

		&__image {
			grid-area: 1 / 1 / 3 / 2;
			width: 70px;
			height: 70px;
		}

		&__card-name {
			grid-area: 1 / 2 / 2 / 3;
			text-align: left;
		}

		&__card-price {
			grid-area: 2 / 2 / 3 / 3;
			text-align: start;
		}

		&__card-add {
			grid-area: 1 / 3 / 3 / 4;
			position: static;
		}

		&__title-solid {
			display: none;
		}
	}

	.quantity {

		&>span,
		&>button {
			border-radius: 5px;
			background: var.$accentColor;
		}
	}

	.hero {
		background: url('../../assets/images/hero/hero-bg-mobile.jpg') 75% center / cover no-repeat;

		& .work-time {
			display: block;
		}

		&__buttons {
			flex-direction: column;
			gap: 10px;
		}

		&__btn-link {
			max-width: 400px;
		}
	}

	.delivery {
		&__button-wrapper {
			max-width: 400px;
		}
	}

	.menu {
		padding-bottom: 20px;

		& .container {
			width: 100%;
			padding: 10px;
		}
	}

	.menu-navigation {
		font-size: 14px;

		&__title {
			flex: 0 0 50px;
			height: 50px;
		}

		&__list {
			gap: 10px;
			margin: 0 10px;
		}

		&__link {
			padding: 5px 10px;
			font-size: 14px;
		}
	}

	.category {
		&__title {
			margin: 20px 0;
		}

		&__cards {
			grid-template-columns: repeat(1, 1fr);
			grid-column-gap: 16px;
		}
	}

	.card {
		position: relative;
		display: flex;
		flex-direction: row;
		gap: 10px;

		&__nameplate {
			top: 5px;
			right: 5px;
		}

		&__nameplate-img {
			display: none;
		}

		&__image {
			flex: 0 0 87px;
			height: 87px;
		}

		&__button-add {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			right: 0;
			width: 45px;
			height: 45px;
		}

		&__description {
			flex: 0 1 auto;
			padding-right: 45px;
			align-items: flex-start;
		}

		&__name {
			text-align: left;
		}

		&__solid {
			margin: 0 20px;
		}
	}

	.footer {
		&__contacts {
			gap: 10px;
			flex-direction: column-reverse;
		}

		.social {
			width: 100%;
			max-width: 170px;
		}
	}
}

@media (any-hover: none) and (orientation: landscape) {
	.add-to-order {
		&__title-solid {
			display: none;
		}
	}
}